/* .carousel-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  } */
/*   
  .carousel-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
  } */
  